{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="student.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid align">
            <div class="navbar-header">
                <a href="index.html"><center><img class="img2 img-circle" src="images/logo1.jpg"></center></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="index.html">About</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Marketplace</a></li>
                <li><a href="#">Pricing</a></li>
            </ul>
        </div>
    </nav>
    <!--POP Up code-->
    <div id="form-popup" class="popup" href="#">
        <div class="popup-content">
            <div class = "container" style="width:100%" >
                <div class = 'contain'> 
                    <form class="form" method = "POST" action="#">
                        {% csrf_token %}
                        <div class = "form-group" style="margin:auto;width:100%">
                            {% bootstrap4_form form %}
                            <input type = "submit" class = "btn btn-dark" onclick="Hide(); Show();">
                            <a href="#" class="close" onclick="Show()">x</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Cards-->
    <div class="container">
        <div class="row" id="1">
            <h1>Your Projects:</h1>
            <div class="col-lg-4">
                <a href="#" style="text-decoration:none;">
                    <div class="card">
                        <img src="images/bg1.jpg" alt="Avatar" width="100%">
                        <div class="cont">
                        <h4><b><!--Topic Name:--></b></h4> 
                        <p>Architect & Engineer</p> 
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" style="text-decoration:none;">
                    <div class="card">
                        <img src="images/bg3.jpg" alt="Avatar" width="100%">
                        <div class="cont">
                        <h4><b>John Doe</b></h4> 
                        <p>This is a mere attempt to come first in the KJSCE Hackathon.
                            Pls provide us with food and snakcs.We also require a redbull to be awake at all times.
                        </p> 
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
            <a href="#" style="text-decoration:none;">
                    <div class="card">
                        <img src="images/bg2.jpg" alt="Avatar" width="100%">
                        <div class="cont">
                        <h4><b>John Doe</b></h4> 
                        <p>Architect & Engineer</p> 
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div><hr>
    <div class="container">
        <div class="row">
            <div  class="col-lg-2"></div>
            <div class="col-lg-8 aligned">
                <h2><p>FUND RAISED:</p></h2><span></span>
            </div>
            <div  class="col-lg-2"></div>
        </div>
    </div>
    <center><a href="#form-popup"><button type="button" class="btn btn-primary but" onclick="Hide()">Create Project</button></a></center>
    <script>
        document.getElementById('checkbox').onclick = function(){
            this.value = "False";
            if(this.checked){
                this.value = "True";
                console.log(this.value);
            }else{
                this.value = "False";
                console.log(this.value);
            }
        }
        function Hide(){
            document.getElementById("1").style.display = "none";
        }
        function Show(){
            document.getElementById("1").style.display = "block";
        }
    </script>
</body>
</html>