.sec2 img{
    
    height:190px;
    transition: 0.7s;
    width: 100%;
    
}
.img-boxx{
    margin-top: 10px;
    overflow: hidden;
}

.sec2 >div>div{
    box-shadow: 4px 10px 3px rgba(0,0,0,0.5);
    border:1px solid black;
    margin:2px;
}
.btn-primary{
    width:100%;
    background-color: blue;
}
.amount{
font-size:20px;
border-top:4px solid blue;

}


.first{
    margin-top: 70px;
    display: flex;

}
.sec2 > .row{

}
span{
    font-size: 24px
}
.descrip{
    height: 200px;
    border: 2px solid green;
    margin-top: 10px;
}
.one{
    height:200px;
    border:2px solid blue;
}
.two{
    height:200px;
    
}
.jumbotron{
    padding: 0px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    
}
.search-container{
    margin:10px 0px 30px 0px;
    background-color: black;
    padding:8px
}
.search-container > form{
   
    width:600px;
    margin: auto;
    
}



.search-container >input{
    border-radius: 10px !important;
}
.sshots >div >div{
    height:300px;
   
    margin-top: 30px;
}
