

.f_half
{   
    height:600px;
    background-image: url(l_half.jpg);
    background-repeat: no-repeat;
    background-size: cover
}
.s_half{
    background-color: black;
    color:white;
    overflow: hidden
}
.mid{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    border-radius: 20px;
    overflow:auto;
    
    
}
.col-lg-6{
    /*border:2px solid red;*/
    
}
body{
    background-image: linear-gradient(#003973,#e5e5be);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-group{
    border-style: none;
    
}
.form-control{
    background-color: black;
    border-style: none;
    border-bottom:2px solid white
}
form{
    color:white;
}
label{
    color:cornsilk
}