.image
{
	height: 300px;
	width: 100px;
}
.bgc
{
	background-color: #3aba37;
}
.img2
{
	height: 35px;
	width: 35px;
	margin: 8px;
}

.bgimg
{
	background-image: url("images/bg5.jpg");
    background-size: cover;
    height:800px;
    margin-top:0px
}
.align
{
	margin-left: 120px;
	margin-top: 12px;
}

.navbar
{
    height: 80px;
    margin-bottom: 0px;
}
.text
{
	color: whitesmoke;
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.9em;
	font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.para
{
	color: white;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 8px;
}

.marg
{
	margin-left: 120px;
	margin-top: 140px;
}

.formedit
{
	margin-right: 100px;
	border: 1px;
	border-bottom-width: 20px;
	background-color: white;
}

.forme
{
	margin: 20px;
	height: 90%;	
}

.btn
{
	width: 90%;
}
.sig{
	background-color: #272626;
	border: 0.5px solid #272626;
	margin-top: 8px;
}
.sig:hover {
	background-color: gray;
	border: 0.5px solid gray;
}
.sig2{
	opacity: 0.5;
	width: 90px;
	color: white;
	background: black;
	margin-left: 25%;	
}
.para2
{
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
}

.grayc
{
	border: 1px;
	background-color: rgb(70, 67, 67);
	margin-left: 70px;
	margin-top: 5px;
}

.gray2
{
	background-color: rgb(70, 67, 67);
	margin-left: 50px;
	margin-top: 15px;
}

.gray3
{
	color: gray;
	margin-top: 15px;
}