{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Crowdfunding for Young Entrepeneurs</title>
    <link href="{% static 'style.css' %}" type="text/css" rel="stylesheet">
  </head>
  <body >
    <nav class="navbar navbar-inverse">
      <div class="container-fluid align">
          <div class="navbar-header">
            <a href="index.html"><center><img class="img2 img-circle" src="{% static 'accounts/images/logo1.jpg' %}"></center></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="index.html">About</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Marketplace</a></li>
            <li><a href="#">Pricing</a></li>
            <li>
              <span>
                  <a href = "{% url 'accounts:login' %}"><button class="btn btn-primary sig" type="button"><b>Sign In</b></button></a>
              </span>
            </li>
          </ul>
      </div>
    </nav>
    <div class="container-fluid bgimg">
      <div class="row marg">
        <div class="col-lg-7">
          
        </div>
        <div class="col-lg-5" >
          <br><br><br><br><br>
          <h1><font class="text">Business<br>Crowdfunding</font></h1>
          <h2><p class="para">
              Now anyone can fund your Business
          </p></h2><br>
          <a href="{% url 'accounts:SignUp' %}"><button class="btn btn-light sig2">Apply Now</button></a>
        </div>
      </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
